@tailwind base;
@layer base {
	:root {
		color-scheme: light;
		--theme-bg: 0 0% 98%;
		--theme-link: 172 18.1% 41.2%;
		--theme-text: 202 10.5% 14.9%;
		--theme-accent: 351 65.9% 48.2%;
		--theme-accent-2: 0 0% 6.7%;
		--theme-quote: 351 65.9% 48.2%;
		--theme-menu-bg: hsl(0 0% 98% / 0.85);
	}

	:root.dark {
		color-scheme: dark;
		--theme-bg: 210 6.5% 12.2%;
		--theme-link: 330 49.4% 66.7%;
		--theme-text: 220 2.9% 79.4%;
		--theme-accent: 159 62.8% 45.3%;
		--theme-accent-2: 0 0% 93.3%;
		--theme-quote: 102 100% 85.7%;
		--theme-menu-bg: hsl(210 6.5% 12.2% / 0.85);
	}

	html {
		@apply h-full scroll-smooth border-t-2 border-textColor;
	}

	html body {
		@apply mx-auto flex h-full max-w-3xl flex-col bg-bgColor px-8 pt-16 font-mono text-sm font-normal text-textColor antialiased;
	}
}
@tailwind components;
@tailwind utilities;

.embed-container {
	position: relative;
	padding-bottom: 56.25%;
	height: 0;
	overflow: hidden;
}
.embed-container iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.twitch {
	color: #9146ff;
}

.instagram {
	color: #30618a;
}

.youtube {
	color: #ff0000;
}

.twitter {
	color: #1da1f2;
}

.linkedin {
	color: #2867b2;
}
