---
import PageLayout from "@/layouts/Base";

const meta = {
	title: "Acerca de Antonio Feregrino Bolaños",
	description: "Acerca de Antonio Feregrino Bolaños",
};
---

<PageLayout meta={meta}>
	<div class="prose prose-sm prose-cactus max-w-none xl:col-span-2">
		<div class="post-image">
			<img src="https://ik.imagekit.io/thatcsharpguy/feregri_no/me-hero.jpg?ik-sdk-version=javascript-1.4.3&updatedAt=1674163150647" />
		</div>
		<h3>Sed pretium turpis ac tincidunt malesuada</h3>
		<p>
			Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nec urna quis risus rhoncus porttitor. Maecenas a lectus id ante aliquam aliquam. Aliquam ipsum erat, venenatis sit amet gravida sit amet, tincidunt vel nisl. Phasellus a consectetur mi, non feugiat massa. Suspendisse commodo fermentum orci, eget elementum turpis feugiat a. Ut pharetra aliquam porttitor. Sed rhoncus felis dapibus risus auctor elementum.
		</p>
		<p>
			Vivamus viverra accumsan urna, finibus feugiat orci luctus ac. Proin vitae nisl ultricies, ultrices erat sit amet, interdum arcu. Quisque a ex a ante lobortis bibendum. Quisque efficitur lobortis nibh, et iaculis arcu vestibulum in. Aliquam enim metus, porttitor porta maximus ut, ullamcorper non mauris. Sed sed sem neque.
		</p>
		<h3>Venenatis</h3>
		<p>
			Vivamus pellentesque eros vel lacinia bibendum. Mauris volutpat, lorem eget malesuada consequat, quam dolor consequat leo, id porttitor erat nisi eu mauris. Donec rhoncus felis sed nulla imperdiet, quis efficitur nulla luctus. Etiam gravida ligula id dui convallis, vitae pretium odio interdum. Maecenas commodo ligula non suscipit laoreet.
		</p>
		<p>Cras ullamcorper placerat libero ut tempus.</p>
	</div>
</PageLayout>
