---
import PageLayout from "@/layouts/Base";

const meta = {
	title: "Acerca",
	description: "¿Quién es Oscar Barajas Tavares? Mejor conocido como @gndx",
};
---

<PageLayout meta={meta}>
	<div class="pt-8 pb-8 prose prose-sm prose-cactus max-w-none xl:col-span-2">
		<div class="post-image">
			<video autoplay="" loop=""
				><source
					src="https://res.cloudinary.com/gndxdev/video/upload/v1622955538/gndx-video_ytpnow.mp4"
					type="video/mp4"
				/>
			</video>
		</div>
		<h3 id="¿quién-soy">
			<a href="#¿quién-soy" aria-hidden="true" tabindex="-1"
				><span class="icon icon-link"></span>
			</a>¿Quién soy?
		</h3>
		<p>
			Mexicano, originario de Torreón Coahuila, actualmente viviendo en
			Colombia, trabajo como Learning Engineer en Platzi, empresa dedicada a la
			educación online, padre del Bebeloper y un apasionado de la enseñanza en
			línea.
		</p>
		<p>
			Soy líder de comunidades, participando fuertemente en la comunidad de Meta
			Developer Circles Bogotá. Soy un apasionado por las tecnologías
			particularmente por React y hoy en día descubriendo y evangelizando sobre
			Svelte.dev.
		</p>
		<h3 id="especialidades">
			<a href="#especialidades" aria-hidden="true" tabindex="-1"
				><span class="icon icon-link"></span>
			</a>Especialidades
		</h3>
		<p>JavaScript, Svelte, React, NextJs, TypeScript, Node, GitHub.</p>
		<h3 id="trayectoria">
			<a href="#trayectoria" aria-hidden="true" tabindex="-1"
				><span class="icon icon-link"></span>
			</a>Trayectoria
		</h3>
		<p>
			Desarrollador FrontEnd con más de 22 años de experiencia, creando mi
			primera página web en el 2001, Actualmente Learning Engineer en
			Platzi.com, Soy uno de los líderes de la comunidad de “Meta Developers
			Circles” en Bogotá, Colombia, Nombrado Microsoft Most Valuable
			Professional en el 2021 y mejor conocido como @gndx en redes sociales.
		</p>
		<p>
			Actualmente tengo 28 Cursos donde enseño todo lo relacionado con
			JavaScript en Platzi.com.
		</p>
		<h3 id="proyectos-recientes">
			<a href="#proyectos-recientes" aria-hidden="true" tabindex="-1"
				><span class="icon icon-link"></span>
			</a>Proyectos recientes
		</h3>
		<p>
			Me apasiona escribir y crear contenido sobre ReactJS en mi canal de
			YouTube y en este blog donde escribo de JavaScript y las conferencias que
			imparto.
		</p>
		<h3 id="mi-historia">
			<a href="#mi-historia" aria-hidden="true" tabindex="-1"
				><span class="icon icon-link"></span>
			</a>Mi Historia
		</h3><iframe
			src="https://open.spotify.com/embed-podcast/episode/0Yozfl4RVHK9wIssP2vc2c"
			width="100%"
			height="232"
			title="Humans of Platzi - Oscar Barajas"
			allowtransparency="true"
			allow="encrypted-media"></iframe>
	</div>
</PageLayout>
