---
import PageLayout from "@/layouts/Base";

const meta = {
	title: "¿Quién es Oscar Barajas Tavares?",
	description: "¿Quién es Oscar Barajas Tavares? Mejor conocido como @gndx",
};
---

<PageLayout meta={meta}>
	<div class="prose prose-sm prose-cactus max-w-none xl:col-span-2">
		<div class="post-image">
			<video autoplay="" loop=""
				><source
					src="https://res.cloudinary.com/gndxdev/video/upload/v1622955538/gndx-video_ytpnow.mp4"
					type="video/mp4"
				/>
			</video>
		</div>
		<h3>¿Quién es Oscar Barajas Tavares?</h3>
		<p>
			Mexicano, originario de Torreón, Coahuila, actualmente viviendo en
			Colombia, trabajo como Learning Engineer en Platzi, empresa dedicada a la
			educación en línea, y mi principal misión es crear experiencias
			educativas, soy padre del Bebeloper y un apasionado de la enseñanza en
			línea.
		</p>
		<p>
			Me encantan las comunidades, Participo fuertemente en la comunidad de
			Platzi, me encuentras en los meetups en Bogotá, Meta Developer Circles
			Bogotá entre otros.
		</p>
		<h3>Especialidades</h3>
		<p>
			Soy un apasionado por las tecnologías Web, enseño programación con
			JavaScript y Solidity, Web3 Builder y Ethereum Blockchain Developer.
		</p>
		<p>JavaScript, Solidity, React, NextJS, TypeScript, Node, GitHub.</p>
		<h3>Trayectoria</h3>
		<p>
			Desarrollador FrontEnd con más de 20 años de experiencia, creando mi
			primera página web en el 2001, Actualmente Learning Engineer en
			Platzi.com, Soy uno de los líderes de la comunidad de “Meta Developers
			Circles” en Bogotá, Colombia, Nombrado Microsoft Most Valuable
			Professional en el 2021 y mejor conocido como @gndx en redes sociales.
		</p>
		<p>
			He impartido más de 300 conferencias y Workshops a lo largo de
			Latinoamérica, en las principales comunidades, ciudades y países.
		</p>
		<h3>Cursos</h3>
		<p>
			Actualmente, tengo 28 Cursos donde enseño todo lo relacionado con
			JavaScript en Platzi.com.
		</p>
		<h3>Proyectos recientes</h3>
		<p>
			Me apasiona escribir y crear contenido sobre ReactJS en mi canal de
			YouTube y en este blog donde escribo de JavaScript y las conferencias que
			imparto.
		</p>
		<h3>Mi Historia</h3>
		<p>
			En este episodio de Humans of Platzi, cuento mis inicios, la historia
			detrás de Oscar Barajas.
		</p>
		<iframe
			src="https://open.spotify.com/embed-podcast/episode/0Yozfl4RVHK9wIssP2vc2c"
			width="100%"
			height="232"
			title="Humans of Platzi - Oscar Barajas"
			allowtransparency="true"
			allow="encrypted-media"></iframe>
	</div>
</PageLayout>
