---
import PageLayout from "@/layouts/Base";

const meta = {
	title: "¿Quién es Oscar Barajas Tavares?",
	description: "¿Quién es Oscar Barajas Tavares? Mejor conocido como @gndx",
};
---

<PageLayout meta={meta}>
	<div class="prose prose-sm prose-cactus max-w-none xl:col-span-2">
		<h1>Conferencias de Oscar Barajas Tavares</h1>
		<p>
			Las ultimas Conferencias, Workshops, Charlas y participaciones de Oscar
			Barajas Tavares,
		</p>
	</div>
</PageLayout>
