---
const year = new Date().getFullYear();
---

<footer>
	<div>
		<span>Copyleft &copy; {year}</span>
		<span aria-label="rocket emoji">🚀</span>
		<span>Non Terrae Plus Ultra </span>
	</div>
	<div>
		<span>Template made with love in Colombia by <a href="https://github.com/gndx">@gndx</a></span>
	</div>
</footer>

<style>
	footer {
		@apply mt-auto flex w-full flex-col items-center justify-center gap-y-2 pt-20 pb-4 text-center align-top text-yellow-500 sm:flex-row sm:justify-between sm:text-xs;

		> div {
			@apply mr-0 mb-8 sm:mr-4;
		}
	}
</style>
